{% if articles %}
    <table id=articles>
    <tr><th>Date</th><th>Title</th><th></th></tr>
    {% for article in articles %}
        {% if article.draft %}<tr class=draft>{% else %}<tr>{% endif %}
        <td>
        {{ article.published_when|date:"j F, Y" }}
        </td><td>
        <a href="/admin/article/edit/?id={{ article.key.id }}">{{ article.title }}</a>
        </td><td>
        <a href="/admin/article/delete/?id={{ article.key.id }}">Delete</a>
        </td></tr>
    {% endfor %}
    </table>
{% else %}
    <h2 id=no-articles>No stuff to show, add one!</h2>
{% endif %}

<ul id=actions>
<li class=new><a href="/admin/article/new">New article</a></li>
</ul>
